/Library/CrashedAssetImports.txt
/Library/EditorInstance.json
/Library/metadata/1c/1c35f9c8c9f1bcd4283c36f52d0cabd6
/Library/metadata/1c/1c35f9c8c9f1bcd4283c36f52d0cabd6.info
/Library/metadata/59/5966654ce1cfa2849b3f189d9dba6394
/Library/metadata/59/5966654ce1cfa2849b3f189d9dba6394.info
/Library/metadata/5b/5bc1da2063b5a59419e8b41a274bc782
/Library/metadata/5b/5bc1da2063b5a59419e8b41a274bc782.info
/Library/metadata/62/62f09b8d30dc8ee46b63c69d50ad1843
/Library/metadata/62/62f09b8d30dc8ee46b63c69d50ad1843.info
/Library/metadata/a9/a9f0699e3ff73a645a292116aa42dedf
/Library/metadata/a9/a9f0699e3ff73a645a292116aa42dedf.info
/Temp/UnityLockfile
/Temp/UnityTempFile-05c026feeff032e4ea9c41ac94e44783
/Temp/UnityTempFile-1186aaa6a720f074badc0e8786a4452a
/Temp/UnityTempFile-13cdcdf183b6a8c439b9925750bf9398
/Temp/UnityTempFile-191e85e91b15484469172acb40acc179
/Temp/UnityTempFile-22fd2749a0888f149a2e17f42cf1bd4b
/Temp/UnityTempFile-263f34561e9d4d04291bd1597ba57ba5
/Temp/UnityTempFile-31dff4c85ed85204d9fb9ce77880ed4d
/Temp/UnityTempFile-3bb6ad3916e6f7947a1234826446d906
/Temp/UnityTempFile-40ca90558531d2147a6b3012526116ca
/Temp/UnityTempFile-4ac93053997e8854e8e65b09f8f82f49
/Temp/UnityTempFile-4ba048e4c0a84574187382cd3ae422ff
/Temp/UnityTempFile-4d2a5e3f2f1b77f45ad4aba47f1677d2
/Temp/UnityTempFile-53570289c02c8c941962c0f6f8ff70a2
/Temp/UnityTempFile-5c57ddffeb5d8374d971ffd9ba085c29
/Temp/UnityTempFile-5f409fe224cec624b986d1b98f529d56
/Temp/UnityTempFile-75077c3e62b053a439448448c330b13f
/Temp/UnityTempFile-79753343fea9c304f91e791196b70e82
/Temp/UnityTempFile-7a1a20a2da41bc94ab6cf55f244cb781
/Temp/UnityTempFile-7f14c1dd297ae904b8c192df2d924559
/Temp/UnityTempFile-896322bc645b5af498ec8d04de90662b
/Temp/UnityTempFile-8fa5b20a83f28fc4cb921367ee868bba
/Temp/UnityTempFile-a72759a7209d746418a2304ac9e25708
/Temp/UnityTempFile-bf842041e548e164d98545a4f658879c
/Temp/UnityTempFile-c82349468b09ba94cb561861b0ab11c9
/Temp/UnityTempFile-c90e7b71a629f87458f80b017f2f4a73
/Temp/UnityTempFile-cb83b557145fd1b4898d1fcb5597f7cd
/Temp/UnityTempFile-da4a20b7b78d8f24e827d5ac617ea80a
/Temp/UnityTempFile-df83b68f11110ca409ff9364dc5923e0
/Temp/UnityTempFile-e025a24123420c3478e885c932a225f9
/Temp/UnityTempFile-e2a78614877fb0a48b107c279afa3782
/Temp/UnityTempFile-e63a54f1311b3c04186f4e3c5a15bb05
/Temp/UnityTempFile-ef9a94e4c30b3644da8d78e26da9f031
/Temp/UnityTempFile-f4172b9f8622b6649805fb446db5491e
/Temp/UnityTempFile-fef46ddd7e70e234194c62bf6cf50308
/Temp/__Backupscenes/0.backup
/Temp/bin/Debug/Assembly-CSharp.dll
/Temp/bin/Debug/Assembly-CSharp.pdb
/Temp/bin/Debug/ExCSS.Unity.dll
/Temp/bin/Debug/Microsoft.Win32.Primitives.dll
/Temp/bin/Debug/System.AppContext.dll
/Temp/bin/Debug/System.Collections.Concurrent.dll
/Temp/bin/Debug/System.Collections.NonGeneric.dll
/Temp/bin/Debug/System.Collections.Specialized.dll
/Temp/bin/Debug/System.Collections.dll
/Temp/bin/Debug/System.ComponentModel.Composition.dll
/Temp/bin/Debug/System.ComponentModel.EventBasedAsync.dll
/Temp/bin/Debug/System.ComponentModel.Primitives.dll
/Temp/bin/Debug/System.ComponentModel.TypeConverter.dll
/Temp/bin/Debug/System.ComponentModel.dll
/Temp/bin/Debug/System.Console.dll
/Temp/bin/Debug/System.Core.dll
/Temp/bin/Debug/System.Data.Common.dll
/Temp/bin/Debug/System.Data.dll
/Temp/bin/Debug/System.Diagnostics.Contracts.dll
/Temp/bin/Debug/System.Diagnostics.Debug.dll
/Temp/bin/Debug/System.Diagnostics.FileVersionInfo.dll
/Temp/bin/Debug/System.Diagnostics.Process.dll
/Temp/bin/Debug/System.Diagnostics.StackTrace.dll
/Temp/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
/Temp/bin/Debug/System.Diagnostics.Tools.dll
/Temp/bin/Debug/System.Diagnostics.TraceSource.dll
/Temp/bin/Debug/System.Diagnostics.Tracing.dll
/Temp/bin/Debug/System.Drawing.Primitives.dll
/Temp/bin/Debug/System.Drawing.dll
/Temp/bin/Debug/System.Dynamic.Runtime.dll
/Temp/bin/Debug/System.Globalization.Calendars.dll
/Temp/bin/Debug/System.Globalization.Extensions.dll
/Temp/bin/Debug/System.Globalization.dll
/Temp/bin/Debug/System.IO.Compression.FileSystem.dll
/Temp/bin/Debug/System.IO.Compression.ZipFile.dll
/Temp/bin/Debug/System.IO.Compression.dll
/Temp/bin/Debug/System.IO.FileSystem.DriveInfo.dll
/Temp/bin/Debug/System.IO.FileSystem.Primitives.dll
/Temp/bin/Debug/System.IO.FileSystem.Watcher.dll
/Temp/bin/Debug/System.IO.FileSystem.dll
/Temp/bin/Debug/System.IO.IsolatedStorage.dll
/Temp/bin/Debug/System.IO.MemoryMappedFiles.dll
/Temp/bin/Debug/System.IO.Pipes.dll
/Temp/bin/Debug/System.IO.UnmanagedMemoryStream.dll
/Temp/bin/Debug/System.IO.dll
/Temp/bin/Debug/System.Linq.Expressions.dll
/Temp/bin/Debug/System.Linq.Parallel.dll
/Temp/bin/Debug/System.Linq.Queryable.dll
/Temp/bin/Debug/System.Linq.dll
/Temp/bin/Debug/System.Net.Http.dll
/Temp/bin/Debug/System.Net.NameResolution.dll
/Temp/bin/Debug/System.Net.NetworkInformation.dll
/Temp/bin/Debug/System.Net.Ping.dll
/Temp/bin/Debug/System.Net.Primitives.dll
/Temp/bin/Debug/System.Net.Requests.dll
/Temp/bin/Debug/System.Net.Security.dll
/Temp/bin/Debug/System.Net.Sockets.dll
/Temp/bin/Debug/System.Net.WebHeaderCollection.dll
/Temp/bin/Debug/System.Net.WebSockets.Client.dll
/Temp/bin/Debug/System.Net.WebSockets.dll
/Temp/bin/Debug/System.Net.dll
/Temp/bin/Debug/System.Numerics.Vectors.dll
/Temp/bin/Debug/System.Numerics.dll
/Temp/bin/Debug/System.ObjectModel.dll
/Temp/bin/Debug/System.Reflection.Extensions.dll
/Temp/bin/Debug/System.Reflection.Primitives.dll
/Temp/bin/Debug/System.Reflection.dll
/Temp/bin/Debug/System.Resources.Reader.dll
/Temp/bin/Debug/System.Resources.ResourceManager.dll
/Temp/bin/Debug/System.Resources.Writer.dll
/Temp/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
/Temp/bin/Debug/System.Runtime.Extensions.dll
/Temp/bin/Debug/System.Runtime.Handles.dll
/Temp/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/Temp/bin/Debug/System.Runtime.InteropServices.WindowsRuntime.dll
/Temp/bin/Debug/System.Runtime.InteropServices.dll
/Temp/bin/Debug/System.Runtime.Numerics.dll
/Temp/bin/Debug/System.Runtime.Serialization.Formatters.dll
/Temp/bin/Debug/System.Runtime.Serialization.Json.dll
/Temp/bin/Debug/System.Runtime.Serialization.Primitives.dll
/Temp/bin/Debug/System.Runtime.Serialization.Xml.dll
/Temp/bin/Debug/System.Runtime.Serialization.dll
/Temp/bin/Debug/System.Runtime.dll
/Temp/bin/Debug/System.Security.Claims.dll
/Temp/bin/Debug/System.Security.Cryptography.Algorithms.dll
/Temp/bin/Debug/System.Security.Cryptography.Csp.dll
/Temp/bin/Debug/System.Security.Cryptography.Encoding.dll
/Temp/bin/Debug/System.Security.Cryptography.Primitives.dll
/Temp/bin/Debug/System.Security.Cryptography.X509Certificates.dll
/Temp/bin/Debug/System.Security.Principal.dll
/Temp/bin/Debug/System.Security.SecureString.dll
/Temp/bin/Debug/System.ServiceModel.Web.dll
/Temp/bin/Debug/System.Text.Encoding.Extensions.dll
/Temp/bin/Debug/System.Text.Encoding.dll
/Temp/bin/Debug/System.Text.RegularExpressions.dll
/Temp/bin/Debug/System.Threading.Overlapped.dll
/Temp/bin/Debug/System.Threading.Tasks.Parallel.dll
/Temp/bin/Debug/System.Threading.Tasks.dll
/Temp/bin/Debug/System.Threading.Thread.dll
/Temp/bin/Debug/System.Threading.ThreadPool.dll
/Temp/bin/Debug/System.Threading.Timer.dll
/Temp/bin/Debug/System.Threading.dll
/Temp/bin/Debug/System.Transactions.dll
/Temp/bin/Debug/System.ValueTuple.dll
/Temp/bin/Debug/System.Web.dll
/Temp/bin/Debug/System.Windows.dll
/Temp/bin/Debug/System.Xml.Linq.dll
/Temp/bin/Debug/System.Xml.ReaderWriter.dll
/Temp/bin/Debug/System.Xml.Serialization.dll
/Temp/bin/Debug/System.Xml.XDocument.dll
/Temp/bin/Debug/System.Xml.XPath.XDocument.dll
/Temp/bin/Debug/System.Xml.XPath.dll
/Temp/bin/Debug/System.Xml.XmlDocument.dll
/Temp/bin/Debug/System.Xml.XmlSerializer.dll
/Temp/bin/Debug/System.Xml.dll
/Temp/bin/Debug/System.dll
/Temp/bin/Debug/Unity.2D.Sprite.Editor.dll
/Temp/bin/Debug/Unity.2D.Tilemap.Editor.dll
/Temp/bin/Debug/Unity.Cecil.dll
/Temp/bin/Debug/Unity.CecilTools.dll
/Temp/bin/Debug/Unity.CollabProxy.Editor.dll
/Temp/bin/Debug/Unity.Legacy.NRefactory.dll
/Temp/bin/Debug/Unity.Rider.Editor.dll
/Temp/bin/Debug/Unity.SerializationLogic.dll
/Temp/bin/Debug/Unity.TextMeshPro.Editor.dll
/Temp/bin/Debug/Unity.TextMeshPro.dll
/Temp/bin/Debug/Unity.Timeline.Editor.dll
/Temp/bin/Debug/Unity.Timeline.dll
/Temp/bin/Debug/Unity.VSCode.Editor.dll
/Temp/bin/Debug/UnityEditor.UI.dll
/Temp/bin/Debug/UnityEditor.dll
/Temp/bin/Debug/UnityEditor.iOS.Extensions.Common.dll
/Temp/bin/Debug/UnityEditor.iOS.Extensions.Xcode.dll
/Temp/bin/Debug/UnityEditor.xml
/Temp/bin/Debug/UnityEngine.AIModule.dll
/Temp/bin/Debug/UnityEngine.AIModule.xml
/Temp/bin/Debug/UnityEngine.ARModule.dll
/Temp/bin/Debug/UnityEngine.ARModule.xml
/Temp/bin/Debug/UnityEngine.AccessibilityModule.dll
/Temp/bin/Debug/UnityEngine.AccessibilityModule.xml
/Temp/bin/Debug/UnityEngine.AndroidJNIModule.dll
/Temp/bin/Debug/UnityEngine.AndroidJNIModule.xml
/Temp/bin/Debug/UnityEngine.AnimationModule.dll
/Temp/bin/Debug/UnityEngine.AnimationModule.xml
/Temp/bin/Debug/UnityEngine.AssetBundleModule.dll
/Temp/bin/Debug/UnityEngine.AssetBundleModule.xml
/Temp/bin/Debug/UnityEngine.AudioModule.dll
/Temp/bin/Debug/UnityEngine.AudioModule.xml
/Temp/bin/Debug/UnityEngine.ClothModule.dll
/Temp/bin/Debug/UnityEngine.ClothModule.xml
/Temp/bin/Debug/UnityEngine.ClusterInputModule.dll
/Temp/bin/Debug/UnityEngine.ClusterInputModule.xml
/Temp/bin/Debug/UnityEngine.ClusterRendererModule.dll
/Temp/bin/Debug/UnityEngine.ClusterRendererModule.xml
/Temp/bin/Debug/UnityEngine.CoreModule.dll
/Temp/bin/Debug/UnityEngine.CoreModule.xml
/Temp/bin/Debug/UnityEngine.CrashReportingModule.dll
/Temp/bin/Debug/UnityEngine.CrashReportingModule.xml
/Temp/bin/Debug/UnityEngine.DSPGraphModule.dll
/Temp/bin/Debug/UnityEngine.DSPGraphModule.xml
/Temp/bin/Debug/UnityEngine.DirectorModule.dll
/Temp/bin/Debug/UnityEngine.DirectorModule.xml
/Temp/bin/Debug/UnityEngine.FileSystemHttpModule.dll
/Temp/bin/Debug/UnityEngine.FileSystemHttpModule.xml
/Temp/bin/Debug/UnityEngine.GameCenterModule.dll
/Temp/bin/Debug/UnityEngine.GameCenterModule.xml
/Temp/bin/Debug/UnityEngine.GridModule.dll
/Temp/bin/Debug/UnityEngine.GridModule.xml
/Temp/bin/Debug/UnityEngine.HotReloadModule.dll
/Temp/bin/Debug/UnityEngine.HotReloadModule.xml
/Temp/bin/Debug/UnityEngine.IMGUIModule.dll
/Temp/bin/Debug/UnityEngine.IMGUIModule.xml
/Temp/bin/Debug/UnityEngine.ImageConversionModule.dll
/Temp/bin/Debug/UnityEngine.ImageConversionModule.xml
/Temp/bin/Debug/UnityEngine.InputLegacyModule.dll
/Temp/bin/Debug/UnityEngine.InputLegacyModule.xml
/Temp/bin/Debug/UnityEngine.InputModule.dll
/Temp/bin/Debug/UnityEngine.InputModule.xml
/Temp/bin/Debug/UnityEngine.JSONSerializeModule.dll
/Temp/bin/Debug/UnityEngine.JSONSerializeModule.xml
/Temp/bin/Debug/UnityEngine.LocalizationModule.dll
/Temp/bin/Debug/UnityEngine.LocalizationModule.xml
/Temp/bin/Debug/UnityEngine.ParticleSystemModule.dll
/Temp/bin/Debug/UnityEngine.ParticleSystemModule.xml
/Temp/bin/Debug/UnityEngine.PerformanceReportingModule.dll
/Temp/bin/Debug/UnityEngine.PerformanceReportingModule.xml
/Temp/bin/Debug/UnityEngine.Physics2DModule.dll
/Temp/bin/Debug/UnityEngine.Physics2DModule.xml
/Temp/bin/Debug/UnityEngine.PhysicsModule.dll
/Temp/bin/Debug/UnityEngine.PhysicsModule.xml
/Temp/bin/Debug/UnityEngine.ProfilerModule.dll
/Temp/bin/Debug/UnityEngine.ProfilerModule.xml
/Temp/bin/Debug/UnityEngine.ScreenCaptureModule.dll
/Temp/bin/Debug/UnityEngine.ScreenCaptureModule.xml
/Temp/bin/Debug/UnityEngine.SharedInternalsModule.dll
/Temp/bin/Debug/UnityEngine.SharedInternalsModule.xml
/Temp/bin/Debug/UnityEngine.SpriteMaskModule.dll
/Temp/bin/Debug/UnityEngine.SpriteMaskModule.xml
/Temp/bin/Debug/UnityEngine.SpriteShapeModule.dll
/Temp/bin/Debug/UnityEngine.SpriteShapeModule.xml
/Temp/bin/Debug/UnityEngine.StreamingModule.dll
/Temp/bin/Debug/UnityEngine.StreamingModule.xml
/Temp/bin/Debug/UnityEngine.SubstanceModule.dll
/Temp/bin/Debug/UnityEngine.SubstanceModule.xml
/Temp/bin/Debug/UnityEngine.TLSModule.dll
/Temp/bin/Debug/UnityEngine.TLSModule.xml
/Temp/bin/Debug/UnityEngine.TerrainModule.dll
/Temp/bin/Debug/UnityEngine.TerrainModule.xml
/Temp/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
/Temp/bin/Debug/UnityEngine.TerrainPhysicsModule.xml
/Temp/bin/Debug/UnityEngine.TextCoreModule.dll
/Temp/bin/Debug/UnityEngine.TextCoreModule.xml
/Temp/bin/Debug/UnityEngine.TextRenderingModule.dll
/Temp/bin/Debug/UnityEngine.TextRenderingModule.xml
/Temp/bin/Debug/UnityEngine.TilemapModule.dll
/Temp/bin/Debug/UnityEngine.TilemapModule.xml
/Temp/bin/Debug/UnityEngine.UI.dll
/Temp/bin/Debug/UnityEngine.UIElementsModule.dll
/Temp/bin/Debug/UnityEngine.UIElementsModule.xml
/Temp/bin/Debug/UnityEngine.UIModule.dll
/Temp/bin/Debug/UnityEngine.UIModule.xml
/Temp/bin/Debug/UnityEngine.UNETModule.dll
/Temp/bin/Debug/UnityEngine.UNETModule.xml
/Temp/bin/Debug/UnityEngine.UmbraModule.dll
/Temp/bin/Debug/UnityEngine.UmbraModule.xml
/Temp/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
/Temp/bin/Debug/UnityEngine.UnityAnalyticsModule.xml
/Temp/bin/Debug/UnityEngine.UnityConnectModule.dll
/Temp/bin/Debug/UnityEngine.UnityConnectModule.xml
/Temp/bin/Debug/UnityEngine.UnityTestProtocolModule.dll
/Temp/bin/Debug/UnityEngine.UnityTestProtocolModule.xml
/Temp/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
/Temp/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.xml
/Temp/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
/Temp/bin/Debug/UnityEngine.UnityWebRequestAudioModule.xml
/Temp/bin/Debug/UnityEngine.UnityWebRequestModule.dll
/Temp/bin/Debug/UnityEngine.UnityWebRequestModule.xml
/Temp/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
/Temp/bin/Debug/UnityEngine.UnityWebRequestTextureModule.xml
/Temp/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
/Temp/bin/Debug/UnityEngine.UnityWebRequestWWWModule.xml
/Temp/bin/Debug/UnityEngine.VFXModule.dll
/Temp/bin/Debug/UnityEngine.VFXModule.xml
/Temp/bin/Debug/UnityEngine.VRModule.dll
/Temp/bin/Debug/UnityEngine.VRModule.xml
/Temp/bin/Debug/UnityEngine.VehiclesModule.dll
/Temp/bin/Debug/UnityEngine.VehiclesModule.xml
/Temp/bin/Debug/UnityEngine.VideoModule.dll
/Temp/bin/Debug/UnityEngine.VideoModule.xml
/Temp/bin/Debug/UnityEngine.WindModule.dll
/Temp/bin/Debug/UnityEngine.WindModule.xml
/Temp/bin/Debug/UnityEngine.XRModule.dll
/Temp/bin/Debug/UnityEngine.XRModule.xml
/Temp/bin/Debug/UnityEngine.dll
/Temp/bin/Debug/UnityEngine.xml
/Temp/bin/Debug/mscorlib.dll
/Temp/bin/Debug/netstandard.dll
/Temp/UnityTempFile-0f163376db016db43a9f88c015a6cc11
/Temp/UnityTempFile-1ced74b3f41649c40a8e4d1539e24a35
/Temp/UnityTempFile-26c93081713913543a5a3af54ab79aa9
/Temp/UnityTempFile-31d4470989fb7a0468e5fcb400a79e53
/Temp/UnityTempFile-566dce8e3bd08494989ab00bfde9f0b4
/Temp/UnityTempFile-609d5b67e1df15e419a49d96e2fab821
/Temp/UnityTempFile-709d752c29e623640b5c01333bbe17e4
/Temp/UnityTempFile-758c8147fc9d41749acffe920ce15a85
/Temp/UnityTempFile-8852df783ba648741bf7028b4b92ae3f
/Temp/UnityTempFile-c44e7dc006bf845459eb323ae0e35a69
/Temp/UnityTempFile-d2acea80922fa1c44b72fa821fcb05fc
/Temp/UnityTempFile-d9717b0f0ce9e1d4799c8038e6139aa7
/Temp/UnityTempFile-eecf858fc68a7c24ab231fd6fdc50f47
/Temp/UnityTempFile-ef20e59fcc721b846ab401f078578143
/Temp/UnityTempFile-fd609122d44881a4c8e4bd841e67b136
/Temp
/Library/StateCache
/Library/metadata
